@model Moglan_Vlad_ProiectEB.Models.CarServiceViewModels.LocationIndexData
@{
    ViewData["Title"] = "Locations";
}
<h2>Locations</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Location Name</th>
            <th>Adress</th>
            <th>Services</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Locations)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["LocationID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>

                <td>
                    @{
                        foreach (var book in item.ProvidedService)
                        {
                            @book.Service.ID @: @book.Service.Title <br />
                        }
                    }
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.ID">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Services != null)
{
    <h3>Available Services in Selected Location</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Title</th>
            <th>Price</th>
        </tr>
        @foreach (var item in Model.Services)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["ServiceID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { serviceID = item.ID })
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Price
                </td>
            </tr>
        }
    </table>
}

@if (Model.Appointments != null)
{
    <h3>
        Clients that have selected the Specified Service
    </h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Appointment Date</th>
        </tr>
        @foreach (var item in Model.Appointments)
        {
            <tr>
                <td>
                    @item.Client.Name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentDate)
                </td>
            </tr>
        }
    </table>
}
